
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-red{
    background-color: red;

}
.header-layer{

}
#fixed-border{
    height: 80px;
}
.top-right ul{
    list-style: none;
    
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.top-right ul li{
    margin-right: 4px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-style: oblique;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.487);

}
.top-left i{
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 900;
    color: violet;
}

.flex{
    display: flex;
}
.header-layer{
    height: 50px;
}
.courses ul{
    list-style: none;

}
.courses ul li{
    margin-right: 10px;
    box-shadow: 1px 2px 10px violet;
    padding: 5px;
    border-radius: 5px;

}
.courses i{
    color: blue;
    filter: drop-shadow(2px 2px 0px violet);
}
.end{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.259);
}
#special-offers-section{
    height: 20px;
    background-color: rgba(238, 130, 238, 0.768);
}
.left-top-main .title{
    color: violet;
}
.left-top-main{
    padding-inline-start: 15px;
}
.left-top-main ul{
    list-style: none;
    
}
.left-top-main ul li{
    padding: 10px;
    margin: 10px;
}
.special{
    height: 50vh;
    width: 15vw;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.335);
    overflow: hidden;
}

.special:hover{
    transform: translateY(-40px);

    
    
}
@keyframes course{
    0%{
        resize:horizontal;

    }
    100%{
        
    }
}
#free{
    background-color: deepskyblue;
    color: aliceblue;
    border-radius: 2px;

}
#paid{
    background-color: darkblue;
    color: white;
    border-radius: 2px;
}
#title{
    font-size: 40px;
    font-family: "Anta", sans-serif;
    color: brown;
    padding: 20px;

}




/* hover btns */
#free:hover{
    transform: translate(2px );
    filter: drop-shadow(-1px -1px 2px violet);
}
#paid:hover{
    transform: translate(2px);
    filter: drop-shadow(-1px -1px 2px deepskyblue);
}

.navbar-btns:hover{
    color: white;
    background-color: mediumseagreen;
    transform: translate(0 3px);
    filter: drop-shadow(1px 2px 2px yellow);
}
.topics:hover{
    transform: translateY(-3px );
    animation: border 1s linear infinite;
}





/* animations */
@keyframes border{
    0%{
        border: 0;
    }
    100%{
        border: 2px solid pink;
    }
}





.justify-btw{
    justify-content: space-between;

}
.branding{
    padding-left: 20px;
}
.navbar{
    padding-right: 10px;
}