*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(46, 45, 45, 0.589);
}
.wrapper{
    height: 100%;
    width: 100%;
}
.page-1{
    width: 100%;
}
header{
    height: 10vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}
section{
    height: 100%;
    box-shadow: 0px 2px 20px black;
    
}
.logo img{
    height: 100%;    
}
.navbar{
    height: 100%;
    
}
.navbar ul li{
    margin: 10px;
    padding:5px;
    list-style: none;
    width: auto;
    overflow: hidden;
    /* background-color: aqua; */
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
    
}
nav ul li a::after{
    content: "";
    position: absolute;
    background-color: red;
    top: 20px;
    left: -680px;
    height: 20px;
    width: 100%;
    /* background-color: white; */
    transition: all .4s ease-in-out;
}
.navbar ul li a:hover{
    transition: all 0.4s ease-in-out;
    color: chocolate;
}
.navbar ul li:hover ::after {
    left: 0;
}

.login{
    width: 79px;
    cursor: pointer;
}
.login i{
    color: aliceblue;
}
.login span{
    color: aliceblue;
}
.down-arrow{
    height: 5px;
    width:8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(40deg);
}
.login:hover> i{
    color: yellow;
    
}
main{
    margin-top: 10vh;
    min-height: 70vh;
    width: 100%;
}
section> section{
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: chocolate;
    
}
section h1{
    display: inline-block;
    color: aliceblue;
    
}
section> section::-webkit-scrollbar{
    display: none;
}

.gola{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    
}
.sales{
    white-space: nowrap;
    display: flex;
    animation: move 15s linear infinite;
    /* white-space: nowrap; */

    scroll-behavior: auto;
}
.sales div{
    display: flex;
    margin: 0 40px;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}
.content_wrap{
    padding: 80px;
}
.slide{
    justify-content: space-evenly;
    margin: 20px 10px;
}
.product{
    height: 250px;
    width: 180px;
    background-color: rgba(75, 75, 75, 0.417);
    border-radius: 16px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 50px;
}
.product-details{
    height: 98%;
    width: 98%;
    background-color: rgba(250, 235, 215, 0.496);
    border-radius: 16px;
    margin: auto;
}
.product-img{
    height: 60%;
    width: 100%;
    border-radius: 16px;

    background-color: bisque;
}
.product-name{
    height: 10%;
    max-width: 80%;
    background-color: rgba(240, 248, 255, 0.47);
    margin: 5px auto;
    border-radius: 10px;

}
.product-name span{
    display: flex;
    justify-content: center;
}
.product-price{
    height: 10%;
    width: auto;
    background-color: rgba(240, 248, 255, 0.503);
    border-radius: 10px;
}